{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}


<body>
	<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
	<nav id="home-nav">
    	<ul>
        	<li>
         		 <a href="/">
           	 	<span class="icon-home"></span>
           	 	<span class="screen-reader-text">Home</span>
         		 </a>
      		</li>
       </ul>
	</nav>​
	<header id="header" class="inner">{% include header.html %}</header>

	<div id="content" class="inner">{{ content | expand_urls: root_url }}</div>
	<footer id="footer" class="inner">{% include footer.html %}</footer>
	{% include after_footer.html %}
</body>
</html>
