#outer {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 1px;
	height: 1px;
	overflow: visible;
	z-index: -1;
	
}		

#canvasContainer { 
	position: absolute;
	width: 1000px;
	height: 560px;
	top: -280px;
	left: -500px;
	z-index: -1;
}

	

