// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.625em;
}
.alignright {
	display: inline;
	float: right;
	margin-right: 1.625em;
}
